@font-face {
	font-family: 'Terminal';
	src : url('../fonts/terminal.ttf');
}
.header {
	height : 80px;
}
#calendar {
	width : 950px;
	float : left;
}
#skills {
	float : left;
	margin-left : 50px;
	margin-top : 50px;
	width : 200px;
}
#logo {
	float : left;
}
#meeting_text {
	font-family: 'Terminal';
	float : left;
	margin : 20px 100px 0 150px;
}
